.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem; //any child componenets in the header will inherit from this
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%; // this is only occupying 18% and not telling it grow or shrink

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  // background-color: orangered;
  // height: 80rem;

  flex: 1; // this is telling flex to take up the whole width

}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {

  flex: 0 0 60%; // flex grow 0, flex shirnk 0, flex basis 60%
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }
  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  // background-color: yellow;
  flex: 1; //occupy the remaining space
  display: flex;
  flex-direction: column;
  align-items: center;
}
